
@*@{
    string message = TempData["Message"] as string;
    if (!string.IsNullOrEmpty(message))
    {
        <div class="alert alert-warning alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <strong>Warning!</strong> @message
        </div>
    }
}*@

@{
    var alerts = TempData.ContainsKey(AutoLote.Helpers.clsAlerts.TempDataKey)
                ? (List<AutoLote.Helpers.clsAlerts>)TempData[AutoLote.Helpers.clsAlerts.TempDataKey]
                : new List<AutoLote.Helpers.clsAlerts>();

    if (alerts.Any())
    {
        <hr />
    }

    foreach (var alert in alerts)
    {
        var dismissableClass = alert.Dismissable ? "alert-dismissable" : null;
        <div class="alert alert-@alert.AlertStyle @dismissableClass">
            @if (alert.Dismissable)
            {
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            }
            @Html.Raw(alert.Message)
        </div>
    }
}